@charset "utf-8";
/* CSS Document */
p {
	color: RebeccaPurple;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 16px;
	line-height: 18px;
	width: 600px;
	background-color: LavenderBlush;
	padding: 20px;
}

	
h1,h2,h3 {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	color: RebeccaPurple;
}

h1 {
font-family: 'edfont', sans-serif;}
@font-face{
	font-family: 'edfont';
	src:url('fonts/edfont.ttf') format('truetype');
	font-weight: normal;
font-style: normal;
color: RebeccaPurple;
}
body{
	background-image: url("pozadinaa.jpg");
}
a:link {
	color: black;
	background-color: white;
	padding: 8px;
	line-height: 40px;
	border: 2px solid #000000;
}
a:hover {
	background-color: darkgray;
}
img {
	height: 400px;
}